<div id="nav-left">
  <div class="content-menu-left">
    <hr>
    <h3 class="perfil">{{this.username}} {{this.lastname}}</h3>

    <hr>
    <p class="status">
      {{this.genre}}, {{this.relationship}}, {{this.country}} </p>
    <hr>

    <ul class="">
      <li><a href="/homePage/" class="icone-home">Home</a></li>
      <li><a href="/editProfile/" class="link-right">Edit Profile</a></li>
    <hr>
     <li><a href="/"><i class="icone-sair"></i> Logout</a></li>
    </ul>
  </div>
</div>