{{> searchPartials}}

<div class="container">
  <div class="row space-bet">
    <div class="col-1">
      <div class="box-w p-10 h-0">
        {{> sideBar currentUser}}
      </div>

    </div>
    <div class="col-11">
      <div class="box-w" style="height: 100%;">
        <h1>My Profile</h1>

        <h3>Details:</h3>

        <ul>
          <div class="form-label form-label-bg margin-14">Name: {{currentUser.username}}</div>
          <div class="form-label form-label-bg margin-14">State: {{currentUser.state}}</div>
          <div class="form-label form-label-bg margin-14">Country: {{currentUser.country}}</div>
          <div class="form-label form-label-bg margin-14">Genre: {{currentUser.genre}}</div>
          <div class="form-label form-label-bg margin-14">Relationship: {{currentUser.relationship}}</div>
        </ul>

      </div>
    </div>
  </div>
</div>