<div class="container">
  <div class="row space-bet">
    <div class="col-1">
      <div class="box-w p-10 h-0">
        {{> sideBar userToEdit}}
      </div>
    </div>
    <div class="col-11">
      <div class="box-w p-10">
      <h2>Edit Profile</h2>
        <form role="form" method="POST" action="/editProfile/">

          <div class="form-label form-label-bg">
            <label for="input-username">
              Username:
            </label>
            <input type="text" id="input-username" name="username" value="{{userToEdit.username}}" />
          </div>

          <div class="form-label form-label-bg">
            <label for="input-last">
              Lastname:
            </label>
            <input type="text" id="input-lastname" name="lastname" value="{{userToEdit.lastname}}" />
          </div>

          <div class="form-label form-label-bg">
            <label for="relationship">
              Relationship:
            </label>
            <input type="text" class="form-control" id="relationship" name="relationship"
              value="{{userToEdit.relationship}}">
          </div>

          <div class="form-label form-label-bg">
            <label for="state">
              State:
            </label>
            <input type="text" class="form-control" id="state" name="state" value="{{userToEdit.state}}">
          </div>

          <div class="form-label form-label-bg">
            <label for="city">
              City:
            </label>
            <input type="text" class="form-control" id="city" name="city" value="{{userToEdit.city}}">
          </div>

          <div class="form-label form-label-bg">
            <label for="hobbies">
              Hobbies:
            </label>
            <input type="text" class="form-control" id="hobbies" name="hobbies" value="{{userToEdit.hobbies}}">
          </div>

          <div class="form-label form-label-bg">
            <label for="interestedin">
              Interestedin:
            </label>
            <input type="text" class="form-control" id="interestedin" name="interestedin"
              value="{{userToEdit.interestedin}}">
          </div>

          <button type="submit" class="btn">
            Save
          </button>
        </form>
      </div>
    </div>
  </div>
</div>